
#btn{
    height: 40px;
    width: 79px;
    background-color: #00ABA9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6px;
    color: #ffffff;
    transition-duration: 6s;
}

.active{
    transform: translate(100vh,0) rotate(360deg);
}

#c {
animation-name: flash;
animation-duration: 1s;
animation-iteration-count: infinite;

color: black;
}

#o{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    color: black;
}

#f{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    color: black;
}

#f2{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    color: black;
}

#e{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    color: black;
}

#e2{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
    color: black;
}


@keyframes flash{
    from{color: black;}
    to{color:blue}


}