*{
    margin: 0;
    padding: 0;
}
/*removes padding and margins on website*/

body{
    background-color:black;
}
/*sets background color*/

nav{
    width:100%;
    height: 60px;
    background-color: white;
}
/*styles navigation bar*/

nav ul{
    float: left;
}
/*floats entire list left*/

nav ul li{
    float: left;
    list-style: none;
}
/*positions list items horizontally and gets rid of bullet points*/



