li{
    float: left;
    list-style-type: none;
    padding:5px;
    border: 1px black solid;
    margin: 3px;
    color: white;
}

ul{
    position: relative;
    top: 10px;
    right: -500px;

}
.container{
    border: 1px dotted crimson;
    height:90px;
}

body{
    background-color: black;
}

.dropbtn{
    cursor: pointer;
}

.dropdown{
    display: none;

}